
main {
  width: 1300px;
  margin: auto;
  z-index: -1;
  background-color: #fff;
}

h4 {
  font-weight: bold;
  font-size: 22px;
}

h5 {
  font-weight: bold;
  font-size: 18px;
}

.navig {
  background-color: #ff1a1a;
  width: 1300px;
  margin: auto;
}

.navig ul li i {
  font-size: 1.8rem;
  margin-top: -2px;
}

#rain-logo {
  height: 1.5rem;
  width: 1.5rem;
}

#img-sm {
  height: 1.5rem;
  width: 8rem;
  margin-top: -8px;
}

.sticky {
  position: fixed;
  top: 10;
  width: 100%;
  height: 6rem;
  overflow: hidden;
  z-index: 1;
}

.list1 {
  margin-top: -8px;
}

.display-none {
  visibility: hidden;
}

.display-block {
  height: 1.5rem;
  width: 8rem;
}

.first-part img {
  width: 100%;
}

#midimg {
  height: 22rem;
}

.first-part {
  margin-left: 0.3rem;
  margin-right: 0.3rem;
}

.img-pb {
  border-radius: 50%;
}

.img-with-text {
  position: relative;
}

.badge {
  background-color: #e6e6e6;
  position: absolute;
  bottom: 0;
}

.solid {
  border-top: 4px solid #ff4d4d;
}

.image25 {
 height: 6rem;;
 width: 1rem;
}

.double {
  border-top: 5px solid #bbb;
}

.after-double {
  position: relative;
  height: 5rem;
}

#text-afd {
  background-color: #000;
  color: #fff;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  text-align: center;
  padding-top: 8px;
  position: absolute;
  top: 40px;
  left: 200px;
}

#img-afd1 {
  width: 4rem;
  height: 4rem;
  position: absolute;
  left: 300px;
  bottom: 60px;
}

#img-afd2 {
  width: 4rem;
  height: 4rem;
  position: absolute;
  left: 300px;
  bottom: 60px;
}

.double-blue {
  border-top: 5px solid #33cc;
}

.mid-div {
  width: 80%;
  margin: auto;
  background-color: #f2f2f2;
  padding: 2.8rem;
}

#N {
  font-weight: 900;
  font-size: 20px;
  background-color: #ff1a1a;
  color: #fff;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  width: 30px;
}

.mid-div p {
  width: 90px;
}

.mid-div h3 {
  width: 150px;
  font-size: 20px;
}

.middle-div {
  text-align: center;
  margin-top: 1rem;
}

#N2 {
  font-weight: 900;
  font-size: 20px;
  background-color: #ff1a1a;
  color: #fff;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  width: 50px;
  text-align: center;
}

#N3 {
  font-weight: 900;
  font-size: 20px;
  color: #404040;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  text-align: center;
}

.second-part img {
  width: 100%;
}

.N {
  font-weight: 900;
  font-size: 20px;
  background-color: #ff1a1a;
  color: #fff;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}
